#container {
	display: grid;
	grid-template-columns: 25vw 50vw 25vw;
	border-style: solid;
	border-width: 3px;
}


#stream1 {
	border-style: none solid solid none;
}

#stream2 {
	border-style: none none solid solid;
}

#stream3 {
	border-style: solid solid none none;
}

#stream4 {
	border-style: solid none none solid;
}

.streams {
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
	border-width: 4px;
}

.stream-name {
	font-family: monaco;
	font-size: 14px;
}


#head {
	width: 400px;
}

#torso {
	width: 400px;
	display:inline-block;
}
#right-arm {
	width: 400px;
	display:inline-block;
}
#left-arm {
	width: 400px;
	display:inline-block;
}
#legs {
	width: 400px;
}
