/* #container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-style: solid;
	border-width: 3px;
} */

.streams {
	width:300px;
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
	border-style: solid;
	border-width: 3px;
}

.stream-name {
	font-family:monaco;
	font-size: 14px;
}

/* #body {

} */

#head {
	width: 400px;
}

#torso {
	width: 400px;
	display:inline-block;
}
#right-arm {
	width: 400px;
	display:inline-block;
}
#left-arm {
	width: 400px;
	display:inline-block;
}
#legs {
	width: 400px;
}
