#container {
	display: grid;
	grid-template-columns: 3fr 10fr 3fr;
	border-style: solid;
	border-width: 3px;
	height: 100vh;
}

#box1 {
	border-style: none solid solid none;
}

#box2 {
	border-style: none none solid solid;
}

#box3 {
	border-style: solid solid none none;
}

#box4 {
	border-style: solid none none solid;
}

.streams {
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
	border-width: 4px;
	width: 100%;

}

.stream-container {
	font-family: monaco;
	font-size: 14px;
	text-align: center;
}

#body {
	display: grid;
	grid-template-columns: 25% 50% 25%;
}

.cvs {
	width: 500px;
}
